{% extends parent_template|default:"base_page.html" %}

{% block title %}
{{ block.super }} - Asignar Rol
{% endblock %}

{% block content %}
    <div>
        <div class="container">
            <form action="{% url 'account_role_assign' group.id %}" method = "post">
                {% csrf_token %}
                {% for user in users %}

                    <input type="checkbox" id="asignar" name="asignar" value="{{user.username}}">
                    <label for="asignar">{{ user.username|title }}</label><br>
                {% empty %}
                    <h4>No users</h4>
                {% endfor %}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                    <a class="btn btn-outline-danger" href="{% url 'account_role_list' %}">Cancel</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}