body {
    overflow-x: hidden;
}
  
  #sidebar-wrapper {
    min-height: 100vh;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #contenido {
    min-width: 83%;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }