body {

  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  width: 18rem;
}
  
#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}
  
#sidebar-wrapper .list-group {
  width: 15rem;
}

